* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    min-height: 100%;
    text-align: center;
}
a {
    list-style: none;
    text-decoration: none;
    color: #000;
}
.relleno{
    width: 100vw;
    height: 100vh;
}
